
<div class="subPage" style="width: 100%;
    min-height: 1080px;">

<div class="text-center">
    <div class = "AboutUsBody">
        <h1 class="AboutUsHeader">CHÚNG MÌNH </br> LÀ AI?</h1>
         <p class="AboutUsText"> 
               Với tình yêu ẩm thực đường phố, chúng mình khao khát đưa tới mọi người sự thân thiện và cảm nhận đối với đồ ăn bình dị, đồng thời duy trì văn hoá ẩm thực của người Viêt Nam, kết hợp với sự sáng tạo và sôi động trong nhịp sống hiện tại. 
        </p>

    </div>

        <img id="AboutUsImg" src="~/Images/AboutUs_IMG.jpg" />
</div>



</div>



<div class="AboutUsCulture">
<div class="text-left" >
        <div class="RowAboutUs">
             <div class="column" >  
                         <h1 class="CultureHeader"> VĂN HÓA <br>
                         ĐƯỜNG PHỐ</h1>
                <div class="CultureText">
                    He takes inspiration from the country’s vibrant food culture and uses fresh ingredients often sourced from local markets while incorporating French culinary techniques. The result is a focused menu of deeply flavorsome dishes.
                    
                <div class="carousel-controlers">
                      <button  class="carousel-blocks" data-target="#myCarousel" data-slide-to="0" class="active"> 1 </button >
                      <button  class="carousel-blocks"  data-target="#myCarousel" data-slide-to="1"> 2 </button >
                      <button  class="carousel-blocks"  data-target="#myCarousel" data-slide-to="2">3 </button >
                    </div>
                </div>


             </div>
             <div class="column" style ="padding: 0">
                <div class="container">

                 <div id="myCarousel" class="carousel slide" data-interval="false"  data-ride="carousel">


                <!-- Wrapper for slides -->
                  <div class="carousel-inner">
                       <div class="item active">
                      <img src="~/Images/Culture1.jpg" style="width:100%; height:100vh;min-height:1080px">
                  </div>

                    <div class="item">
                    <img src="~/Images/Culture2.jpg" style="width:100%;height:100vh;min-height:1080px">
                 </div>
    
                 <div class="item">
                  <img src="~/Images/Culture3.jpg"  style="width:100%; height:100vh;min-height:1080px">
                  </div>
        </div>

  </div>
</div>



            </div>     
        </div>
</div>
</div>
<div class="AboutUsGallery">
<div class="text-left">
        <div class="rowMenu">
             <div class="column" >  
                 <img id ="galleryImg" src="~/Images/Gallery.jpg" class="img-fluid" alt="gallery">

            </div>
             <div class="column" >
                <h1 class="RecHeader"> Gallery </h1>
                <div class="galleryText">
                    He takes inspiration from the country’s vibrant food culture and uses fresh ingredients often sourced from local markets while incorporating French culinary techniques. The result is a focused menu of deeply flavorsome dishes.

                 </div>     
            </div>
        </div>
</div> 
</div> 
