<div class="subPage" style="background-image: url( ../Images/MainPage.jpg)">
    <div class="text-center">
    <h1 class="MainPageText">“TÔI LÀ
        </br>
        ĂN ĂN
        </br>

        ĐÂY!!! “
        </h1>

    <a asp-action="AboutUs" class="MainButton">Về Chúng Tôi</a>
  
    </div>
</div>