<div class="AboutUsRecommendation">
<div class="text-left" >
        <div class="RowAboutUs">
             <div class="column" >  
                         <h1 class="RecHeader"> Giờ ăn đến rồi!! <br>
                         Giờ ăn đến rồi!!</h1>
                <div class="RecText">
                <div class="carousel-controlers">
                      <a  class="carousel-blocks" asp-controller="Home" asp-action="DoUong" style ="padding:0 5% 0 5%"> Thức uống </a >
                      <a  class="carousel-blocks"  asp-controller="Home" asp-action="DoAn" style ="padding:0 5% 0 5%"> Đồ ăn </a >
                      <a  class="carousel-blocks" asp-controller="Home" asp-action="Combo"  style ="padding:0 5% 0 5%"> Combo </a >
                    </div>
                </div>


             </div>
             <div class="column" style ="padding: 0">
                <div class="container">

                 <div id="myCarouse2" class="carousel slide"  data-ride="carousel">


                <!-- Wrapper for slides -->
                  <div class="carousel-inner">
                       <div class="item active">
                      <img src="~/Images/Rec1.jpg" style="width:100%; height:100vh; min-height:1080px">
                  </div>

                    <div class="item">
                    <img src="~/Images/Rec2.jpg" style="width:100%;height:100vh;min-height:1080px ">
                 </div>
    
                 <div class="item">
                  <img src="~/Images/Rec3.jpg"  style="width:100%; height:100vh;min-height:1080px">
                  </div>
              </div>



  </div>

</div>