<div class="subPage newsBackground">
<div class="text-left">
        <h1 class="MainPageText"> SỰ KIỆN </h1>
        <div class="rowMenu">
             <div class="column" >  

            </div>
             <div class="column" >

            </div>     
        </div>
</div>

</div>
