<div class="subPage">
    <div class="text-center">
    <h1 class="MainPageText"> ĐẶT BÀN THÔI
        </h1>
        <input type="text" id="Name" class="ReservationInput">
          <input type="date" id="dateTime" class="ReservationInput">
        <input type="text" id="phone" class="ReservationInput">
        <a  class="ReserveButton">Đặt bàn ngay</a>

    </div>
</div>