/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}
#Logo1 {
  margin-right:50%;
}
html {
  height: 100%;
}
body {
  min-height: 100%;
}
.fill{
  min-height: 100%;
  padding-top: 5%;
}
/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 0px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 0px solid #e5e5e5 !important;
}


button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.MainPageText{
font-family: Montserrat;
font-style: normal;
font-weight: 800;
font-size: 128px;
line-height: 156px;
text-transform: uppercase;

color: #FFB900;
}
.MainButton {
	background-color:#0d1327;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:12px 15px;
  text-decoration:none;
  margin-top: 5%;
}
.MainButton:hover {
  background-color: #FFB900;
	text-decoration:none !important;
}

.AboutUsText{
  font-family: Montserrat;
font-style: normal;
font-weight: 800;
font-size: 80px;
line-height: 98px;
text-align: center;
text-transform: uppercase;

color: #19234B;
}

.navDark{
  background: #19234B;

}
.navDarkText{
  
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 20px;
text-transform: uppercase;

color: #FFFFFF;
}

.navDarkText:hover {
  font-style: bold;
  text-decoration:none !important;
  font-style: bold;
}
.container{
  max-width: 100% !important;
}