/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}
#Logo1 {
  width:50%;
  padding-left: 10%;

}
#AnAnLogo{
  max-height: 50px;
  margin-right: 45%;
}
html {
  height: 100%;
}
body {
  min-height: 100%;
}
.fill{
  min-height: 90vh;
}
/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 0px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 0px solid #e5e5e5 !important;
}


button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.MainPageText{
font-family: Montserrat;
font-style: normal;
font-weight: 800;
font-size: 128px;
line-height: 156px;
text-transform: uppercase;

color: #FFB900;
}
.MainButton {
  background-color: #0d1327;
  border: 1px solid #ffffff;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: 'Montserrat';
  font-size: 1rem;
  padding: 12px 15px;
  text-decoration: none;
  margin-top: 5%;
}


.RecButton {
  margin: 15% 20% 0% 15%;
  background-color: #FFB900;
  border: 1px solid #FFB900;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  padding: 4% 2% 2% 2%;
  font-family: Arial;
  color: #19234B;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2rem;
  width: 25%;
  height: 105px;
  letter-spacing: 0.5px;
  text-decoration: none;
}

.RecButton:hover {
  cursor:pointer;
  background-color: #f1cb5f;
}
.ReserveButton {
  background-color: #FFB900;
  border: 1px solid #FFB900;
  width: 15%;
  height: 35px;
  display: inline-block;
  cursor: pointer;
  font-family: 'Montserrat';
  font-size: 1rem;
  padding: 7px 15px;
  color: white !important;
}
.ReserveButton:hover {
  cursor:pointer;
  background-color: #f1cb5f;
}


.MainButton:hover {
  background-color: #FFB900;
	text-decoration:none !important;
}

.AboutUsHeader{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 80px;
  line-height: 98px;
  text-align: center;
  text-transform: uppercase;
  color: #19234B;
  padding-bottom: 3%;
}

.navDark{
  background: #19234B;

}
.navDarkText{
  
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 20px;
text-transform: uppercase;
padding-right: 3vh;
color: #FFFFFF;
}

#TopNavBar{
  height: 12vh;
  position: fixed;
  width: 100%;
  z-index: 10;
}
#NavBar{
  height: 100%;
 
}
.navDarkText:hover {
  font-style: bold;
  text-decoration:none !important;
  font-style: bold;
}
.container{
  max-width: 100% !important;
  padding: 0 !important;
}
.AboutUsBody{
  width: 40%;
  margin-left: 30%;

}
.AboutUsCulture {
  height: 100vh;
  margin-top: 12%;
  background: #19234B;
}

.CultureText{
  font-size: 1.5rem;
  color: #FDFDFD;
  line-height: 2rem;
  width: 85%;
  text-align: center;
  padding-top: 5%;
  padding-left: 20%;
}
.CultureHeader{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 5rem;
  line-height: 6rem;
  text-transform: uppercase;
  color: #FFB900;
  padding-top : 15%;
  padding-left: 5%;
  text-align: center;
}

.RecHeader{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 5rem;
  line-height: 6rem;
  text-transform: uppercase;
  color: #FFB900;
  padding-top : 20%;
  padding-left: 5%;
  text-align: center;
}

#galleryImg{
  padding: 15% 0% 0% 0%;
}

.AboutUsGallery{
  height: 100vh;
  background: #FFFFFF;
}
.AboutUsRecommendation{
    height: 100vh;
    background: #19234B;
  }

#AboutUsImg{
  padding-top: 5%;
  width: 80%;
}

.AboutUsText{
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 2.5rem;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.5px;
  color: #000000;
}

/* 2 column layout */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height:100%;
}

.col4{
  float: left;
  width: 15%;
  padding-top: 7%;
  color: #19234B;
  font-family: 'Montserrat';
}
/* Clear floats after the columns */
.rowMenu:after {
  content: "";
  display: table;
  clear: both;
}

.rowMenu{ 
  display: flex;
  width: 90%;
  padding-left: 10%;

}
.rowNews{ 
  display: flex;
  width: 90%;
  padding-left: 10%;
  padding-top: 8%;
}
.rowNews:after {
  content: "";
  display: table;
  clear: both;
}

.text-left{
  text-align: left;
}
.itemPrice{
  text-align: right;
  display: inline;
  float: right;
}
.subPage{
  height: 100vh; 
  padding-top: 10%;
}

.newsBackground{
  background: #19234B;
}
.ReservationInput{
  margin-top: 2%;
  margin-right: 2%;
  margin-top: 2%;
  margin-right: 2%;
  font-family: 'Montserrat';
  padding: 7px 15px;
}

.newsText{
  position: absolute;
  left: 8%;
  top: 25%;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 5rem;
  line-height: 5.5rem;
  margin-left: 3%;
  margin-top: -2%;
  text-transform: uppercase;
  color: #FFB900;
}

.newsButton {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  height: 50px;
  line-height: 50px;
  color: #FFB900;
  font-family: Montserrat;
  width: 253px;
  font-size: 40px;
  font-weight: 100;
  padding: 25% 10% 25% 10%;
  background-color: #19234B;
  border: solid #FFB900 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  width: fit-content;
  height: fit-content;
}

.newsButton:hover {
  background: #09488B;
  border: solid #FFAE00 1px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  text-decoration: none;
}

.carousel-controlers{
  text-align:center;
  padding-top:20%;
}
.carousel-blocks{
  display:inline;
  padding:14%;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  line-height: 2.5rem;
  text-align: center;
  text-transform: uppercase;
  color: #FFB900;

  background:none;
  border:none;
  margin:0;
  cursor: pointer;
}

.carousel-blocks:hover {
  cursor:pointer;

}

.carousel-blocks:active{
  border:none;
}

.RowAboutUs{
  display: flex;
  width: 100%;

}

.RecText{
    font-size: 2rem;
    color: #FDFDFD;
    line-height: 2.5rem;
    width: 90%;
    text-align: center;
    padding-left: 15%;
}

.galleryText{
  font-size: 2rem;
  color: #19234B;
  line-height: 2.5rem;
  width: 90%;
  text-align: center;
  padding-left: 15%;
  padding-top: 5%;
}

.galleryButton {
  margin: 15% 0% 0% 35%;
  background-color: #19234B;
  border: 1px solid #19234B;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  padding: 3% 2% 2% 2%;
  font-family: Arial;
  color: #FFB900;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2rem;
  width: 35%;
  letter-spacing: 0.5px;
  text-decoration: none;
}

.galleryButton:hover{
  cursor:pointer;
  background-color: #243370;
}

input{
  width: 15%;
    overflow: visible;
    height: 35px;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #19234B;
  color: #FFB900;
  text-align: center;
  padding-top: 15px;
  font-family: Montserrat;
  font-size: 1rem;
}

.columnNews{
  float: left;
    width: 45%;
    padding-top: 3%;
    padding-LEFT: 8%;
    height: 100%;
}
.carousel-control.left { 
  background-image: linear-gradient(to right,rgb(183 197 255/ 50%) 0,rgba(0,0,0,.0001) 100%);}

.carousel-control.right { background-image: linear-gradient(to left,rgb(183 197 255 / 50%) 0,rgba(0,0,0,.0001) 100%);}

.carousel-control {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15%;
  font-size: 20px;
  color: #19234B;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
  background-color: rgba(0,0,0,0);
  filter: alpha(opacity=50);
  opacity: .5;
}

.carousel-control:hover{
  color: #2d3d7e;

}

